<div class="container-fluid vh-50 bg-light">
   <div class="row-12  h-25 ">
      <marquee [behavior]="" direction="left" [scrollAmount]="10">
         <div class="div d-flex justify-content-center align-items-center p-2 ms-0">
            <div class="col-2">
               <img class="first " src={{imgL1}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL2}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL3}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first" src={{imgL4}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL5}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL6}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL1}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL2}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first " src={{imgL3}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first" src={{imgL4}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first" src={{imgL5}} alt="" width="250px" height="150px">
            </div>
            <div class="col-2">
               <img class="first" src={{imgL6}} alt="" width="250px" height="150px">
            </div>

         </div>
      </marquee>
   </div>
</div>

<div class="container1-fluid ">
   <div class="div1 ">
   <div class="card " >
      <img class="sec"   src="https://th.bing.com/th/id/OIP.hBl5JhJRVFUAQYZlX3gMCAAAAA?pid=ImgDet&rs=1" alt="">
      <div class="intro">
         <h1>CUGIC</h1>
         <p>CUGIC allow you to measure customer satisfaction, access agent performance and identify problems before execution. The analytics will help you stay on the target and measure success.</p>
      </div>
   </div>
   <div class="card">
   <img class="sec"   src="https://th.bing.com/th/id/R.4a572bd821ea7fa964a9d5ff9cd64488?rik=1xl5psWSkKtcdA&riu=http%3a%2f%2fvoitinc.com%2fimages%2fEnd+User+Services.png&ehk=fr6Md%2b6aqaU%2b6HKmP5veydC%2bc6fWiF4L555Pagk3Cok%3d&risl=&pid=ImgRaw&r=0" alt="">
      <div class="intro">
         <h1>END-USER</h1>
         <p>‘how-to’ troubleshoot issues with an app, scan through a software installation guide, or look up how to perform a task in your customer relationship management (CRM) tool.</p>
      </div>
   </div>
   <div class="card">
   <img class="sec"    src="https://discoverlearning.com.au/wp-content/uploads/2019/11/ADDIE-phases-labelled.png" alt="">
      <div class="intro">
         <h1>ADDIE</h1>
         <p>The ADDIE model is the generic process traditionally used by instructional designers and training developers. The five phases—Analysis for building effective training tools.</p>
      </div>
  
   </div>
   <div class="card">
      <img  class="sec" src="https://ict4me.sri.com/images/designprocess-sm_readable_original.gif" alt="">
      <div class="intro">
         <h1>ICT4me</h1>
         <p>ICT4me is an after school and summer youth-based curriculum for middle school youth to develop Information Communication and Technology (ICT) fluency, interest.</p>
      </div>
   </div>

</div>

</div>