<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src={{imgLnik}} alt="" width="100px" height="50px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul>
        <li class="nav-item" *ngFor="let Link of pageLink">
          <a class="nav-link active" aria-current="page" routerLink={{Link.path}}> {{Link.linkcontent}}
          </a>
        </li>
      </ul>
    </div>
  </div>
     

  

  <div class="dropdown me-5">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      More...
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let Link of moreLink"><a class="dropdown-item" routerLink={{Link.path}}> {{Link.linkcontent}}</a></li>
    </ul>
  </div>
  
  

  <div class="login me-5">
    <button class="btn btn-danger " type="button" id="Button1" aria-expanded="false">
    <a class="text text-white " routerLink="login">LOGIN</a>
    </button>
  </div>
  
</nav>
<router-outlet></router-outlet>



<footer class="bg-light text-center text-lg-start bg-dark ">
  <div class="container p-4">
    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 border-end d-flex justify-content-center align-items-center">
        <div class="logo "><img src={{imgLogo}} alt="" class="imgtag rounded-pill" width="100px" height=100px></div>
        <ul>
          <h5 class="text-uppercase text-white">LINKS</h5>
          <li><a routerLink="">Home</a></li><br>
          <li><a routerLink="/about">About</a></li><br>
          <li> <a routerLink="/users">User</a></li><br>
          <li> <a routerLink="/services">services</a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <div class="row-12 w-50">
          <h5 class="text-uppercase text-white ">CONTACT US</h5>
          <form [formGroup]="userForm" (ngSubmit)="userData()">
            <div class="mb-3">
              <input type="email" class="form-control" formControlName="userName" required placeholder="User Email"><br>
              <div class="alert alert-info" *ngIf="!f['userName'].valid && f['userName'].touched">
                felled the valid email
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" formControlName="phone" required placeholder="Contact Number"><br>
              <div class="alert alert-info" *ngIf="!f['phone'].valid && f['phone'].touched">
                There must be 10 digits
              </div>
            </div>
            <div class="mb-3">
              <button type="submit" class=" submit text-white bg-info rounded-pill p-2"
                [disabled]="!userForm.valid">Submit</button>
            </div>
            <p class="text-white">
              {{successMsg}}
            </p>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright : by Shalukashyap!
  </div>
</footer>