<div class="container-fluid">
    <div class="container " >
        <div class="box bg-info p-5 mt-5 mb-5"  *ngFor="let d of users">
            <h4 class="text text-success">{{d.name}}</h4>
            <h6>Father's Name: {{d.fname}}</h6>
            <div class="row-12 d-flex">
            <div class="col-6">
            <img src={{d.img}}  width="100px" height="120px" alt="">
            <address class="text2 text-success">
                {{d.address.city}}-
                {{d.address.state}}-
                {{d.address.pin}}
            </address>
            </div>
           <div class="col-6">
            <p class="text1 text-danger">Skills are</p>
            <ul>
                 <li *ngFor="let s of d.skills"> {{s}}</li>
            </ul>
          
        
            </div>
        
         </div>
    
    </div>
    
</div>
 
